body .ejercicios {
  display: -ms-grid;
  display: grid;
  -webkit-box-align: stretch;
      -ms-flex-align: stretch;
          align-items: stretch;
  overflow: visible;
}
body .ejercicios .lista {
  list-style-type: none;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}
body .ejercicios .lista li {
  -webkit-box-flex: 1;
      -ms-flex: 1 0 calc(33.33% - 20px);
          flex: 1 0 calc(33.33% - 20px);
  margin: 10px;
}
body .ejercicios .lista li .descripcion {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  text-decoration: none;
  padding: 20px;
  text-align: center;
  border-radius: 10px;
  border: 1px solid blueviolet;
}
body .ejercicios .lista li .descripcion .nroEjercicio {
  padding: 10px;
  color: blue;
  font-size: 25px;
  font-family: Impact, Haettenschweiler, "Arial Narrow Bold", sans-serif;
}
body .ejercicios .lista li .descripcion pre {
  padding-top: 30px;
  text-align: start;
  font-size: 20px;
}
body .ejercicios .lista li .descripcion p {
  font-size: 20px;
  padding: 10px;
}
body .ejercicios .lista li .descripcion input {
  margin-right: 10px;
  border-radius: 3px;
  font-size: 15px;
  width: 100px;
  text-align: end;
  font-weight: bold;
  padding: px;
}
body .ejercicios .lista li .descripcion button {
  font-weight: bold;
  border: 1px solid violet;
  padding: 10px;
  border-radius: 5px;
}
body .ejercicios .lista li .descripcion:hover {
  background-color: rgb(195, 99, 31);
  -webkit-transition-duration: 1s;
          transition-duration: 1s;
  color: white;
}
body .ejercicios .lista li .descripcion:hover .nroEjercicio {
  color: rgb(212, 240, 142);
  font-weight: normal;
}
body .ejercicios .lista li .descripcion:hover p, body .ejercicios .lista li .descripcion:hover pre {
  font-weight: bold;
}
body .ejercicios .lista li button:hover {
  color: white;
  background-color: rgb(42, 9, 102);
  -webkit-transition-duration: 1s;
          transition-duration: 1s;
}
body .ejercicios .lista li button {
  font-size: 20px;
  border: none;
  background-color: lightblue;
  cursor: pointer;
}