header .navbar {
  background-color: #2c3e50;
  padding: 25px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: distribute;
      justify-content: space-around;
}
header .navbar .icono {
  height: 40px;
}
header .navbar .links {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  gap: 50px;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}
header .navbar .links li {
  list-style: none;
  font-weight: bold;
}
header .navbar .links li a {
  text-decoration: none;
  color: white;
  font-size: 25px;
}
header .navbar .links li a:hover {
  color: yellow;
}