@charset "UTF-8";
body {
  background-color: aquamarine;
  color: peru;
  font-family: Arial, sans-serif;
  /*Placeholder Selector (%)*/
  /*mixin tiene el comportamiento de una función
  DRY (Don't Repeat Yourself) */
}
body .publicidad, body .noticia, body .primicia {
  padding: 20px;
  color: indigo;
  text-shadow: 1px 1px 3px white;
}
body .primicia {
  font-weight: bold;
}
body .noticia {
  text-decoration: underline;
}
body .publicidad {
  border: 1px solid red;
}
body .avatar {
  width: 200px;
  border: 2px solid white;
  -webkit-box-shadow: 1px 1px 10px white;
          box-shadow: 1px 1px 10px white;
  border-radius: 50%;
}
body .redondo {
  padding: 10px;
  cursor: pointer;
  border: 2px solid white;
  -webkit-box-shadow: 1px 1px 10px white;
          box-shadow: 1px 1px 10px white;
  border-radius: 30px;
}
body aside .btn {
  padding: 20px;
  background-color: steelblue;
  color: white;
  cursor: pointer;
}
body aside .btn::hover {
  font-weight: bold;
  -webkit-box-shadow: 2px 2px 10px white;
          box-shadow: 2px 2px 10px white;
}
body aside .btn--shadow {
  -webkit-box-shadow: 2px 2px 10px black;
          box-shadow: 2px 2px 10px black;
  background-color: red;
  color: black;
}