header 
    nav.navbar
        a(href="/example/SRC/index.html")
            img.icono(src="/example/SRC/img/icono.png")


        ul.links 
            li: a(href="/example/SRC/sesiones/sesion8.html") SESION N°8
            li: a(href="/example/SRC/sesiones/sesion9.html") SESION N°9
            li: a(href="/example/SRC/sesiones/sesion10.html") SESION N°10
            li: a(href="/example/SRC/sesiones/sesion11.html") SESION N°11
            li: a(href="/example/SRC/sesiones/sesion12.html") SESION N°12
            li: a(href="/example/SRC/sesiones/sesion13.html") SESION N°13
            li: a(href="/example/SRC/sesiones/sesion14.html") SESION N°14

