body{
    
    .ejercicios{
        
        display: grid;
        
        align-items: stretch;

        overflow: visible;
        
        

        .lista{
            
            list-style-type: none;
            display: flex;
            flex-wrap: wrap;

            li{

                flex: 1 0 calc(33.33% - 20px);
                margin: 10px;
                
                

                .descripcion{
        
                    display: flex;
                    text-decoration: none;
                    padding: 20px;
                    text-align: center;
                    border-radius: 10px;
                    border: 1px solid blueviolet;
                    
                    .nroEjercicio{
                        padding: 10px;
                        color: blue;
                        font-size: 25px;
                        font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
                    }

                    pre{
                        padding-top: 30px;
                        text-align: start;
                        font-size: 20px;
                    }

                    p{
                        font-size: 20px;
                        padding: 10px;
                    }
                    input{
                        margin-right: 10px;
                        border-radius: 3px;
                        font-size: 15px;
                        width: 100px;
                        text-align: end;
                        font-weight: bold;
                        padding: px;
                    }
                    button{
                        font-weight: bold;
                        border: 1px solid violet;
                        padding: 10px;
                        border-radius: 5px;
                        
                    }

                    
                }

                .descripcion:hover{
                    background-color: rgb(195, 99, 31);
                    transition-duration: 1s;
                    color: white;
                    .nroEjercicio{ 
                        color: rgb(212, 240, 142);
                        font-weight: normal;
                    }
                    p, pre{
                        font-weight: bold;
                    }
                }

                button:hover{
                    color: white;
                    background-color: rgb(42, 9, 102);
                    transition-duration: 1s;
                }
                    

                button{
                    font-size: 20px;
                    border: none;
                    background-color: lightblue;
                    cursor: pointer;
                }
            }
            
        }
    }
    
}