doctype html
html(lang="es")
    head
        meta(charset="UTF-8")
        meta(name="viewport", content="width=device-width, initial-scale=1.0")
        title Sesion 10
        link(rel="stylesheet", href="../css/main.css")
        link(rel="stylesheet", href="../css/header.css")
        link(rel="stylesheet", href="../css/sesion10.css")
    body 
        include ../header.pug

        h2.title Ejercicios de JavaScript 
        section.ejercicios 
            ul.lista 
                li 
                    a.descripcion(href="sesion10/ejercicio1/ejercicio1.html" target="_blank")
                        .contenido
                            p.nroEjercicio Primer ejercicio
                            p Crea un programa que solicite al usuario su nombre, apellido y edad para luego presentar un saludo amigable, mostrando la información ingresada. Por ejemplo: "Buen día, soy Denys Jaramillo y tengo 41 años." El resultado se mostrará en una alerta o en la consola
                            img(src="sesion10/img/ejercicio1.png" alt="Ejercicio 1") 
                li 
                    a(href="sesion10/ejercicio2/ejercicio2.html" target="_blank")  
                        .descripcion
                            .contenido
                                p.nroEjercicio Segundo ejercicio
                                p Escribe un programa que solicite al usuario un número y determine si es positivo, negativo o cero, imprimiendo el resultado correspondiente.

                                img(src="/example/SRC/sesiones/sesion10/img/ejercicio2.webp" alt="Ejercicio 2") 
                li 
                    a(href="sesion10/ejercicio3/ejercicio3.html" target="_blank")  
                        .descripcion
                            .contenido
                                p.nroEjercicio Tercer ejercicio
                                p Crea un programa que reciba un monto a pagar y calcule su precio final, incluyendo un impuesto al valor agregado (IGV) del 18%. El programa mostrará el monto total a pagar después de aplicar el impuesto.

                                img(src="/example/SRC/sesiones/sesion10/img/ejercicio3.jpg" alt="Ejercicio 3") 
                li 
                    a(href="sesion10/ejercicio4/ejercicio4.html" target="_blank")  
                        .descripcion
                            .contenido
                                p.nroEjercicio Cuarto ejercicio
                                p Desarrolla un programa que determine el monto equitativo a pagar por cada uno de los 3 amigos después de salir a comer. El programa solicitará el monto total a pagar y calculará cuánto debe pagar cada amigo para que todos contribuyan por igual. Luego, mostrará el resultado mediante una alerta o en la consola.

                                img(src="/example/SRC/sesiones/sesion10/img/ejercicio4.jpg" alt="Ejercicio 4") 
                li 
                    a(href="sesion10/ejercicio5/ejercicio5.html" target="_blank")  
                        .descripcion
                            .contenido
                                p.nroEjercicio Quinto ejercicio
                                p Desarrolla un programa que reciba dos cadenas de texto, 'a' y 'b', y devuelva una nueva cadena combinando ambas de la siguiente manera: corta + larga + corta. La cadena más corta estará en el exterior y la más larga en el interior. Por ejemplo, si las cadenas son "bye" y "adios", el resultado sería "byeadiosbye".

                                img(src="/example/SRC/sesiones/sesion10/img/ejercicio5.webp" alt="Ejercicio 5") 
                li 
                    a(href="sesion10/ejercicio6/ejercicio6.html" target="_blank")  
                        .descripcion
                            .contenido
                                p.nroEjercicio Sexto ejercicio
                                p Desarrolla un programa que solicite la base y la altura de dos triángulos. Luego calculará y comparará el área de ambos triángulos, mostrando también cuál de ellos tiene el área más grande.

                                img(src="/example/SRC/sesiones/sesion10/img/ejercicio6.webp" alt="Ejercicio 6") 
